<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">

<link rel="stylesheet" type="text/css" th:href="@{/css/indoorPositioning.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap_css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/ss_css/bootstrap-select.min.css}"/>
<title>Emparejar Componentes</title>
</head>
<body>
<div th:insert="classpath:/templates/navbar.html">
</div>
<form action="#" th:action="@{/pairComponents}" th:object="${component}"  method="Post">
<div class="content">
	<div class="row" >
		<div class="form-group col-md-6">
			<label>Componentes inactivos: </label>
			<select class="form-control selectpicker show-tick" th:field="*{id_cmp}"  data-live-search="true" data-live-search-normalize="true" data-size="5">
		    	<option class="selOption" th:each="cmp : ${allInactiveComponents}" th:value="${cmp.id_cmp}" th:text="${cmp.name}"></option>
		    </select>
		</div>
		<div class="form-group col-md-6">
			<label>Baliza: </label>
			<select class="form-control selectpicker show-tick" th:field="*{beacon}"  data-live-search="true" data-live-search-normalize="true" data-size="5">
		    	<option class="selOption" th:each="b : ${allUnusedBeacons}" th:value="${b.id_bk}" th:text="${b.id_bk}"></option>
		    </select>
		</div>
	</div>
	<div class="row" >
		<div class="form-group col-md-12 middleBtn">
	    <button th:action="submit" class="form-group btn btn-bl col-md-3"><img class="icon" th:src="@{/icons/save.png}" /><span class="d-none d-md-inline"> Emparejar componente</span></button>
	    </div>
	</div>
	
</div>
</form>
<div class="imageContainer">
<h2 th:if="${feedback}" th:text="${feedback}"></h2>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/js/Popper.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap_js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/ss_js/bootstrap-select.min.js}"></script>

</body>
</html>